@charset "UTF-8";

/* Feuille de styles CSS de server.fet
   Feuille de styles générée avec FET 5.31.4 le 01/05/2017 19:47 */

/* Pour faire un saut de page uniquement après chaque second planning, supprimer "page-break-before: always;" dans "table.even_table". */
/* Supprimer "page-break-before: always;" dans "table.even_table" et dans "table.odd_table" pour passer les sauts de page. */
/* Pour masquer un élément, écrivez simplement la phrase suivante sous l'élément : "display:none;" (sans guillemet). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left:auto; margin-right:auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

thead {

}

/* Certains programmes importent incorrectement "tfoot". Donc nous utilisons "tr.foot" au lieu de "tfoot". */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

/* Mettre en forme les périodes libres des enseignants */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

/* Fin de fichier. */
