<div ng-controller="programmeMenuCtrl">
  <div style="display:none" ng-model="page"></div>
  <div class="tab" expanded="false">
    <button id="programmeGradeClasses" class="tablinks"
            ng-click="openTab('programmeMenu/gradeClassesTab/gradeClassesTab.html', 'programmeGradeClasses')">Élèves
    </button>
    <button id="programmeSubjects" class="tablinks" ng-click="openTab('programmeMenu/subjectsTab/subjectsTab.html', 'programmeSubjects')">
      Matières
    </button>
    <button id="programmeProgramme" class="tablinks"
            ng-click="openTab('programmeMenu/programmeTab/programmeTab.html', 'programmeProgramme')">Programmes scolaires
    </button>
  </div>

  <div class="tabcontent" ng-include="page" expanded="false"></div>
</div>

<script src="programmeMenu/gradeClassesTab/gradeClassesTab.js"></script>