

<div class="tab" ng-controller="schoolInformationMenuCtrl">

  <div style="display:none" ng-model="page"></div>

  <button class="tablinks" ng-click="openTab('Accueil')">Accueil</button>
  <button class="tablinks" ng-click="openTab('schoolInformationMenu/roomTypeTab/roomTypeTab.html')">Type de salles</button>
  <button class="tablinks" ng-click="openTab('Accueil')">Classes</button>
  <button class="tablinks" ng-click="openTab('Accueil')">Professeurs</button>
</div>

<div class="tabcontent" ng-include="page"></div>