

<div class="tab" ng-controller="schoolInformationMenuCtrl">

  <div style="display:none" ng-model="page"></div>

  <button class="tablinks" ng-click="openTab('schoolInformationMenu/scheduleTab/scheduleTab.html')">Jours et horaires</button>
  <button class="tablinks" ng-click="openTab('schoolInformationMenu/roomTypeTab/roomTypeTab.html')">Type de salles</button>
  <button class="tablinks" ng-click="openTab('schoolInformationMenu/roomTab/roomTab.html')">Salles</button>

</div>

<div class="tabcontent" ng-include="page"></div>