<div class="tabcontent" expanded="false">

	<h3>Type de salle</h3>
	<div ng-controller="roomTypeTabCtrl">
	  <!--TODO:LANG-->
	  <p>
		  Ajoutez/supprimez des types de salles, qui correspondent à un ensemble de salles dans lesquelles les mêmes cours peuvent avoir lieu. La capacité de la salle n'est pas à prendre en compte.
		  <br/><br/> Exemple : amphithéâtres, salle de travaux dirigés, salle avec vidéoprojecteur, salle de TP Chimie...
      <br/> Une fois qu'au moins un type de salle sera rentré, vous aurez accès aux onglets "Salles" et "Matières".
	  </p>

	  <table id="roomTypeTable" class="framedTable">
		  <tr>
			  <th>Type de salle</th>
			  <th class="noDisplay">
				  <md-button class="md-icon-button" ng-click="toggleModification()">
					  <i class="material-icons">create</i>
				  </md-button>
			  </th>
		  </tr>
		<tr>
		  <td>
			<md-inputcontainer>
			  <input type="text" id="roomTypeInput" ng-model="inputValue" ng-keypress="pressKeyInput($event.keyCode)" cols="25" rows="1"
					 style="resize: none" placeholder="Entrer le type de salle"></input>
			</md-inputcontainer>

		  </td>
		  <td>
			<!--<md-button class="md-raised md-primary" ng-cliaddRoomTypeject()">+</md-button>-->
			<md-button class="md-icon-button" ng-click="addRoomType()">
			  <md-icon>add</md-icon>
			</md-button>
		  </td>
		</tr>
		<tr ng-repeat="roomType in roomTypesArray track by $index">
		  <td>
			  <input class="readOnlyToggable" type="text" readonly ng-model="roomType" />
		  </td>
		  <td>
			<md-button class="md-icon-button" aria-label="supprimmer ce type de salle"
					   ng-click="removeRoomType($index)">
			  <md-icon>delete</md-icon>
			</md-button>
		  </td>
		</tr>
	  </table>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</div>
</div>
