<h3>Type de salle</h3>
<div ng-controller="roomTypeTabCtrl">
  <!--TODO:LANG-->
  Ajoutez/ supprimmez des type de salle

  <table id="subjectTable">
    <tr>
      <td>
        <md-inputcontainer>
          <input type="text" id="roomTypeInput" ng-model="inputValue" ng-keypress="pressKeyInput($event.keyCode)" cols="25" rows="1"
                 style="resize: none" placeholder="Entrer le type de salle"></input>
        </md-inputcontainer>

      </td>
      <td>
        <!--<md-button class="md-raised md-primary" ng-cliaddRoomTypeject()">+</md-button>-->
        <md-button class="md-icon-button" aria-label="Use Android" ng-click="addRoomType()">
          <md-icon>add</md-icon>
        </md-button>
      </td>
    </tr>
    <tr ng-repeat="roomType in roomTypes track by $index">
      <td>
        {{roomType}}
      </td>
      <td>
        <md-button class="md-icon-button" aria-label="supprimmer ce type de salle"
                   ng-click="removeRoomType($index)">
          <md-icon>delete</md-icon>
        </md-button>
      </td>
    </tr>
  </table>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</div>

