<div class="tabcontent" expanded="false">

	<h3>Matières</h3>

<p>
  Définissez les matières enseignées dans votre établissement. Chacune d'entre elles est associé à au moins un type de salle dans lequel le cours peut avoir lieu.
  <br/><br/>Exemple : TP de Physique, type de salle : TP-Physique
</p>

	<div ng-controller="subjectsTabCtrl">

	  <table id="subjectTable" class="framedTable">
		<th>
		  Matière
		</th>
		<th>
		  Type de salle
		</th>
		<tr>
		  <td>
			<md-inputcontainer>
			  <input type="text" id="roomTypeInput" ng-model="inputValue" ng-keypress="pressKeyInput($event.keyCode)" cols="25" rows="1"
					 style="resize: none" placeholder="Entrer le nom de la matière"></input>
			</md-inputcontainer>
		  </td>
		  <td>
			<select name="roomType" ng-model="roomTypeSelected" ng-options="roomType for roomType in roomTypeArray"
					ng-keypress="pressKeyInput($event.keyCode)">
			  <option value="Empty"></option>
			</select>
		  </td>

		  <td>
			<md-button class="md-icon-button" aria-label="Use Android" ng-click="addSubject()">
			  <md-icon>add</md-icon>
			</md-button>
		  </td>
		</tr>
		<tr ng-repeat="subject in subjectsArray track by subject.name">
		  <td>
			  <input type="text" readonly ng-model="subject.name" />
		  </td>
		  <td>
			{{subject.roomType}}
		  </td>
		  <td>
			<md-button class="md-icon-button" aria-label="supprimmer ce type de salle" ng-click="removeSubject($index)">
			  <md-icon>delete</md-icon>
			</md-button>
		  </td>
		</tr>
	  </table>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</div>

</div>