<div class="tabcontent" expanded="false">

	<h3>Élèves</h3>

	<p>Sur cette page, vous pouvez définir des groupes d'élèves.
	  <br/>Dans un premier temps, définissez des niveaux qui correspondent à des types de classe et des programmes scolaires. Par exemple : 3ème générale, 1ère S-SVT...
	  <br/>Ensuite, définissez les différentes classes de ces niveaux, avec leur effectif. Cet effectif permettra d'organiser les cours dans des salles dimensionnées correctement.
	  </p>

	<div ng-controller="gradeClassesTabCtrl">
	  {{JSON.stringify(grades)}}

	  <table id="gradeClassTab" class="framedTable">
		<tr>
		  <th>Niveau</th>
		  <th>Classe</th>
		  <th>Effectif</th>
			<th>
				<md-button class="md-icon-button" ng-click="toggleModification()">
					<i class="material-icons">create</i>
				</md-button>
			</th>
		</tr>

		<tr ng-repeat-start="(indexGrade , grade) in grades">
		  <td>
			  <input class="readOnlyToggable" type="text" readonly ng-model="grade.name" /></td>
		  <td></td>
		  <td></td>
		  <td>
			<md-button class="md-icon-button" ng-click="deleteGrade(indexGrade)">
			  <md-icon>delete</md-icon>
			</md-button>
		  </td>
		</tr>

		<tr ng-repeat="(indexClass , class) in grade.classes">
		  <td></td>
		  <td>

			  <input class="readOnlyToggable" type="text" readonly ng-model="class.name" />
		  </td>
		  <td>

			  <input class="readOnlyToggable number" type="text" readonly ng-model="class.studentNumber" />
		  </td>
		  <td>
			<md-button class="md-icon-button" ng-click="deleteClass(indexGrade,indexClass)">
			  <md-icon>delete</md-icon>
			</md-button>
		  </td>
		</tr>

		<tr ng-repeat-end>
		  <td></td>
		  <td>
			<input type="text" ng-model="inputClass[indexGrade]" ng-keypress="keyPressedClass($event.keyCode, indexGrade)">
		  </td>
		  <td>
			<input type="number" ng-model="inputStudentNumber[indexGrade]" ng-keypress="keyPressedClass($event.keyCode, indexGrade)">
		  </td>
		  <td>
			<md-button class="md-icon-button" ng-click="addClass(indexGrade)">
			  <md-icon>add</md-icon>
			</md-button>
		  </td>
		</tr>

		<tr>
		  <td>
			<input type="text" ng-model="inputGrade" ng-keypress="keyPressedGrade($event.keyCode)">
		  </td>
		  <td></td>
		  <td>
			<md-button class="md-icon-button" ng-click="addGrade()">
			  <md-icon>add</md-icon>
			</md-button>
		  </td>
		</tr>
	  </table>
	</div>
</div>
