<section ng-controller="attributionTabCtrl">

  <div class="tabcontent" expanded="false">

    <h3>Attribution des Professeurs aux Classes</h3>

    <p>
      Description </p>

    <table id="attributionTable" class="framedTable">
      <!-- Column Headers -->
      <tr>
        <th></th>
        <th scope="col" ng-repeat="subject in subjectArray">
          {{subject.name}}
        </th>
      </tr>
      <!-- Table Body -->
      <tr ng-repeat="(indexAttribution, attribution) in attributionArray">
        <th>{{attribution.class}}</th>
        <td ng-repeat="(indexSubject, subject) in attribution.subjects">
          <select
              ng-options="(teacher.firstName + ' ' + teacher.lastName) for teacher in getAccessToTeacherArrayBySubject(subject.subjectName)"
              ng-model="currentTeacherSelectedArray[indexAttribution][indexSubject]"
              ng-change="changedValue(currentTeacherSelectedArray[indexAttribution][indexSubject], indexAttribution, indexSubject)">
          </select>
        </td>
      </tr>

    </table>

  </div>

</section>
