<section ng-controller="attributionTabCtrl">

  <div class="tabcontent" expanded="false">

    <h3>Attribution des Professeurs aux Classes</h3>

    <p>
      Description </p>

    <table id="attributionTable" class="framedTable">
		<!-- Column Headers -->
		<tr>
		  <th></th>
		  <th scope="col" ng-repeat="subject in subjectArray">
			{{subject.name}}
		  </th>
		</tr>
		<!-- Table Body -->
		<tr ng-repeat="attribution in attributionArray">
		  <th>{{attribution.class}}</th>
		  <td ng-repeat="subject in attribution.subjects">
			{{subject.subjectName}}
		  </td>
		</tr>
		
    </table>

  </div>

</section>
