<section ng-controller="teacherTabCtrl">

  <div class="tabcontent" expanded="false">

    <h3>Professeurs</h3>

    <p>
      Définissez pour chaque enseignant la ou les matières enseignées et ses disponibilités.
      <br/><br/>Exemple : John Smith, Matières : Mathématiques - Physique - Chimie, Disponibilités : tout sauf mercredi. </p>

    <table id="teacherTab" class="framedTable">
      <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Matières</th>
        <th>Indisponibilités</th>
        <th class="noDisplay">
          <md-button class="md-icon-button" ng-click="toggleModification()">
            <i class="material-icons">create</i>
          </md-button>
        </th>
      </tr>

      <tr>
        <td>
          <input type="text" ng-model="currentFirstName" ng-keypress="keyPressed($event.keyCode)">
        </td>
        <td>
          <input type="text" ng-model="currentLastName" ng-keypress="keyPressed($event.keyCode)">
        </td>
        <td>
          <select class="coursName" chosen multiple display-selected-options="false" no-results-text="'Aucune matière trouvé'"
                  placeholder-text-multiple="'Matière'" ng-options="subject.name for subject in subjectsArray"
                  ng-model="currentSubjectsSelected" ng-keypress="keyPressed($event.keyCode)">
          </select>
        </td>
        <td>
          <button ng-click="displayAvailabilityWrite()">DISP</button>
        </td>
        <td>
          <md-button class="md-icon-button" ng-click="addTeacher()">
            <i class="material-icons">add</i>
          </md-button>
        </td>
      </tr>

      <tr ng-repeat="teacher in teachersArray">
        <td>
          <input class="readOnlyToggable" type="text" readonly ng-model="teacher.firstName"/>
        </td>
        <td>
          <input class="readOnlyToggable" type="text" readonly ng-model="teacher.lastName"/>
        </td>
        <td class="coursName">
          <ul>
            <li class="dotlessList" ng-repeat="subject in teacher.subject">
              {{subject}}
            </li>
          </ul>
        </td>
        <td>
          <button ng-click="displayAvailabilityRead(teacher)">DISP</button>
        </td>
        <td>
          <md-button class="md-icon-button" ng-click="removeTeacher($index)">
            <i class="material-icons">delete</i>
          </md-button>
        </td>
      </tr>
    </table>

    <div id="addTeacherOverlay" class="overlay">
      <fieldset class="formLayout" ng-if="overlayIsReadOnly">
        <legend>Disponibilités de {{teacherFocused.firstName}}</legend>
        <table class="framedTable">
          <tr>
            <th>days</th>
            <th ng-repeat="(indexHourTitle,hour) in schedule.hoursSlot">{{hour.start}}-{{hour.end}}</th>
          </tr>
          <tr ng-repeat="(indexDay, day) in schedule.days">
            <td>{{day}}</td>
            <td ng-repeat="(indexHour,hour) in schedule.hoursSlot"
                ng-class="returnClassOnAvailability(availabilityTeacherFocused[indexDay][indexHour])"></td>
          </tr>
        </table>
        <button ng-click="closeOverlay()">Fermer</button>

      </fieldset>
      <fieldset class="formLayout" ng-if="!overlayIsReadOnly">
        <legend>Entrez vos indisponibilités</legend>
        <table class="framedTable">
          <tr>
            <th>days</th>
            <th ng-repeat="(indexHourTitle,hour) in schedule.hoursSlot">{{hour.start}}-{{hour.end}}</th>
          </tr>
          <tr ng-repeat="(indexDay, day) in schedule.days">
            <td>{{day}}</td>
            <td ng-repeat="(indexHour,hour) in schedule.hoursSlot"><input type="checkbox"
                                                                          ng-model="unavailabilityInput[indexDay][indexHour]"></input></td>
          </tr>
        </table>
        <button ng-click="setCurrentUnavailability()">valider</button>
        <button ng-click="closeOverlay()">annuler</button>
      </fieldset>

    </div>

  </div>
</section>

<style>
  .available {
    background-color: green !important;
  }

  .unavailable {
    background-color: red !important;
  }
</style>