<link rel="stylesheet" type="text/css" href="schoolInformationMenu/roomTab/roomTab.css">

<section ng-controller="roomTabCtrl">


  <h3>Salles</h3>
  <p>
    Ajoutez/modifiez des salles à votre établissement. Chaque salle a un nom, un type tel que défini dans le menu de gauche, et une capacité correspondant aux nombre d'étudiants maximum pouvant suivre un cours dans cette salle. La capacité est facultative (vous pouvez la mettre à zéro pour ignorer le champ).
    <br/><br/>Exemple : C121, type: TP-Physique, capacité : 25
  </p>
  <table class="framedTable">
    <tr>
      <th>Nom</th>
      <th>Type de salle</th>
      <th>Capacité</th>
    </tr>

    <tr>
      <td>
        <md-inputcontainer>
          <input class="textInput" type="text" id="roomNameInput" ng-model="roomNameInputValue" ng-keypress="keyPress($event.keyCode)"
                 cols="25" rows="1" placeholder="Nom de la salle"></input>
        </md-inputcontainer>
      </td>
      <td class="coursName">
        <select class="coursName" chosen multiple display-selected-options="false" no-results-text="'Aucun type de salle trouvé'"
                placeholder-text-multiple="'Type de salle'"
                ng-options="roomType for roomType in roomTypesArray" ng-model="roomTypesSelected" ng-keypress="keyPress($event.keyCode)">
        </select>
      </td>
      <td>
        <input type="number" min="0" max="300" ng-model="roomCapacity" ng-keypress="keyPress($event.keyCode)"></input>
      </td>
      <td>
        <md-button class="md-icon-button" aria-label="Use Android" ng-click="addRoom()">
          <md-icon>add</md-icon>
        </md-button>
      </td>
    </tr>

    <tr ng-repeat="room in roomsArray">
      <td>
        {{room.name}}
      </td>
      <td>
        <ul>
          <li class="dotlessList" ng-repeat="roomType in room.roomTypes">
            {{roomType}}
          </li>
        </ul>
      </td>
      <td>
        <input type="number" min="1" max="300" ng-model="room.roomCapacity"></input>
      </td>
      <td>
        <md-button class="md-icon-button" aria-label="supprimmer ce type de salle" ng-click="removeRoom($index)">
          <md-icon>delete</md-icon>
        </md-button>
      </td>
    </tr>

    <!--<tr ng-repeat="r in roomsArray">
      <td>
        <input type="text" name="roomName" ng-model="r.roomName"/>
      </td>
      <td class="coursName">
        <select chosen multiple display-selected-options="false" class="coursName" no-results-text="'Pas de type de salle trouvé pour:'"
                placeholder-text-multiple="'Pas de type de salle selectionné pour le moment'" ng-options="rt.roomType for rt in roomTypesArray"
                ng-model="r.roomType">
          <option value=""></option>
        </select>
      </td>
      <td>
        <md-button class="md-icon-button" aria-label="supprimmer cette salle" ng-click="removeRoom($index)">
          <md-icon>delete</md-icon>
        </md-button>
      </td>
    </tr> !-->
  </table>
</section>