<section ng-controller="roomTabCtrl">


  <h3>Salle</h3>

  <table style="width:100%">
    <tr>
      <th>Nom</th>
      <th>Type de salle</th>
    </tr>
    <tr ng-repeat="r in rooms">
      <td>
        <input type="text" name="roomName" ng-model="r.roomName"/>
      </td>
      <td class="coursName">
        <select chosen
                multiple
                display-selected-options="false"
                class="coursName"
                no-results-text="'Pas de type de salle trouvé pour:'"
                placeholder-text-multiple="'Pas de type de salle selectionné pour le moment'"
                ng-options="rt.roomType for rt in roomTypes"
                ng-model="r.roomType">
          <option value=""></option>
        </select>
      </td>
    </tr>
  </table>
</section>