<section ng-controller="roomTabCtrl">


  <h3>Salle</h3>

  <table class="framedTable">
    <tr>
      <th>Nom</th>
      <th>Type de salle</th>
    </tr>

    <tr>
      <td>
        <md-inputcontainer>
          <input class="textInput" type="text" id="roomNameInput" ng-model="roomNameInputValue" ng-keypress="keyPress($event.keyCode)"
                 cols="25" rows="1" placeholder="Entrer le nom de la salle"></input>
        </md-inputcontainer>
      </td>
      <td class="coursName">
        <select class="coursName" chosen multiple display-selected-options="false" no-results-text="'Pas de type de salle trouvé'"
        placeholder-text-multiple="'Pas de type de salle selectionné pour le moment'" ng-options="roomType for roomType in roomTypesArray"
        ng-model="roomTypesSelected" ng-keypress="keyPress($event.keyCode)">
        </select>
      </td>
      <td>
        <md-button class="md-icon-button" aria-label="Use Android" ng-click="addRoom()">
          <md-icon>add</md-icon>
        </md-button>
      </td>
      </td>
    </tr>

    <tr ng-repeat="room in roomsArray">
      <td>
        {{room.name}}
      </td>
      <td>
        <ul>
          <li class="dotlessList" ng-repeat="roomType in room.roomTypes">
            {{roomType}}
          </li>
        </ul>
      </td>
      <td>
        <md-button class="md-icon-button" aria-label="supprimmer ce type de salle" ng-click="removeRoom($index)">
          <md-icon>delete</md-icon>
        </md-button>
      </td>
    </tr>
  </table>
</section>