<div ng-cloak="" class="topnav" ng-controller="BodyCtrl">
        <md-content>
            <md-tabs md-dynamic-height="15dpi" md-border-bottom="">
                <md-tab class="menulinks" label="Accueil">
                    <md-content>
                    <div ng-include="homeMenu">
                    </div>
                    <div class="reduceOrExpand" expanded="false">
                        <md-button md-no-ink class="md-icon-button" ng-click="reduceOrExpand()">
                            <md-icon class="reduceOrExpandBut" expanded="false">{{icone}}</md-icon>
                        </md-button>
                    </div>
                    </md-content>
                </md-tab>
                <md-tab class="menulinks" label="Établissement">
                    <md-content>
                        <div ng-include="schoolMenu"></div>
                        <div class="reduceOrExpand" expanded="false">
                            <md-button md-no-ink class="md-icon-button" ng-click="reduceOrExpand()">
                                <md-icon class="reduceOrExpandBut" expanded="false">{{icone}}</md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab class="menulinks" label="Élèves et enseignements">
                    <md-content>
                        <div ng-include="programmeMenu"></div>
                        <div class="reduceOrExpand" expanded="false">
                            <md-button md-no-ink class="md-icon-button" ng-click="reduceOrExpand()">
                                <md-icon class="reduceOrExpandBut" expanded="false">{{icone}}</md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab class="menulinks" label="Professeurs">
                    <md-content>
                        <div ng-include="teacherMenu"></div>
                        <div class="reduceOrExpand" expanded="false">
                            <md-button md-no-ink class="md-icon-button" ng-click="reduceOrExpand()">
                                <md-icon class="reduceOrExpandBut" expanded="false">{{icone}}</md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
		
		<div id="connect" class="loginForm">
		
			<div>
				<label for="etablissement" style="text-align: right">Etablissement :</label>
				<input id="etablissement" name="etablissement" type="text" ng-model="etablissement" placeholder="Etablissement"/>
			</div>
		
			<div>
				<label for="mdp" style="text-align: right">Mot de passe :</label>
				<input id="mdp" name="mdp" type="password" ng-model="mdp" placeholder="Mot de passe"/>
			</div>
			
			<button ng-click="login()">Login</button>
			
		</div>
		
		<button id="disconnect" class="loginForm" style="display: none" ng-click="disconnect()">Déconnexion</button>
		
		
		<div id="overlayLoad" class="bodyOverlay">
			<fieldset>
			
				<legend>Choisissez une configuration existante</legend>
				<div id="selectorConfig" class="insideOverlay">
				</div>
			
			</fieldset>
		</div>

    <div id="overlaySave" class="bodyOverlay" ng-controller="homeMenuCtrl">
        <fieldset>

            <legend>Choisissez un nom pour la nouvelle configuration</legend>
            <div id="inputConfig" class="insideOverlay">
                <input id="configName" name="configName" placeholder="nom de configuration" ng-model="configName"/>
                <button class="configValidateButton" ng-click="saveAs()">Enregistrer</button>
                <button style="margin-left: 40%;" class="configValidateButton" onclick="$('#overlaySave').css('display', 'none')">Annuler</button>
            </div>

        </fieldset>
    </div>
		
    </div>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
