<div ng-cloak="" class="topnav" ng-controller="BodyCtrl">
        <md-content>
            <md-tabs md-dynamic-height="15dpi" md-border-bottom="">
                <md-tab class="menulinks" label="Accueil">
                    <md-content>
                    <div ng-include="homeMenu">
                    </div>
                    <div class="reduceOrExpand" expanded="false">
                        <md-button md-no-ink class="md-icon-button" ng-click="reduceOrExpand()">
                            <md-icon class="reduceOrExpandBut" expanded="false">{{icone}}</md-icon>
                        </md-button>
                    </div>
                    </md-content>
                </md-tab>
                <md-tab class="menulinks" label="Etablissement">
                    <md-content>
                        <div ng-include="schoolMenu"></div>
                        <div class="reduceOrExpand" expanded="false">
                            <md-button md-no-ink class="md-icon-button" ng-click="reduceOrExpand()">
                                <md-icon class="reduceOrExpandBut" expanded="false">{{icone}}</md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab class="menulinks" label="Programme">
                    <md-content>
                        <div ng-include="programmeMenu"></div>
                        <div class="reduceOrExpand" expanded="false">
                            <md-button md-no-ink class="md-icon-button" ng-click="reduceOrExpand()">
                                <md-icon class="reduceOrExpandBut" expanded="false">{{icone}}</md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab class="menulinks" label="Prof - Cours">
                    <md-content>
                        <div ng-include="teacherMenu"></div>
                        <div class="reduceOrExpand" expanded="false">
                            <md-button md-no-ink class="md-icon-button" ng-click="reduceOrExpand()">
                                <md-icon class="reduceOrExpandBut" expanded="false">{{icone}}</md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
		
		<div id="connect" class="loginForm">
		
			<div>
				<label for="etablissement">Etablissement :</label>
				<input id="etablissement" name="etablissement" type="text" ng-model="etablissement"/>
			</div>
		
			<div>
				<label for="mdp">Mot de passe :</label>
				<input id="mdp" name="mdp" type="password" ng-model="mdp"/>
			</div>
			
			<button ng-click="login()">Login</button>
			
		</div>
		
		<button id="disconnect" class="loginForm" style="display: none" ng-click="disconnect()">Déconnexion</button>
		
		<div id="overlayLoad">
			<div id="selectorConfig">
			</div>
		</div>
		
    </div>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
