/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/** CSS for Menu **/
/* Style the tab */
div.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position: absolute;
  width: 15%;
  left: 0;
  min-height: 600px;
  box-sizing: border-box;
  transition-duration: 0.3s;
}

div.tab[expanded="true"] {
  left: -15%;
  border: none;
}

/* Style the buttons inside the tab */
div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

div.tab button[selected] {
    background-color: #ccc;
}

/* Create an active/current "tab button" class */
div.tab button.active {
  background-color: #ccc;
}

div.tab button:disabled {
	color: lightgrey;
  	background-color: #f1f1f1 !important;
}

/* Style the tab content */
.tabcontent {
  padding: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 85%;
  margin-left: 15%;
  overflow-x: auto;
  box-sizing: border-box;
  border-left: none;
  min-height: 600px;
  height : auto;
  display: block;
  transition-duration: 0.3s;
}

.tabcontent[expanded="true"] {
  width: 100%;
  margin-left: 0;
}

/*style list without dots*/
.dotlessList {
  list-style-type:none;
}

input[readonly] {
    border: none;
    background-color: inherit;
}

/** CSS for Menu end **/



/** CSS for top Menu **/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the buttons inside the tab */
/** CSS for top menu end **/

.topnav md-content {
  background-color: transparent !important;
}

/*fond du menu*/
.topnav  md-tabs-wrapper{
  background-color: #555 !important;
}

/*texte du menu*/
.topnav .md-tab {
  color: #f2f2f2 !important;
  background-color: inherit !important;
  font-size: 17px;
  cursor: pointer !important;
}

/*fond du contenu*/
.topnav md-tab-content, md-tab-content-wrapper, .ng-scope, .ng-isolate-scope{
  background-color: transparent !important;
}
.topnav md-ink-bar {
  color: blue !important;
  background-color: blue !important;
  height: 4px;
}



/** CSS for tables **/

.framedTable td, .framedTable th {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  min-width: 75px;
}

.framedTable {
  margin: 25px;
}

.unframedTable td, .unframedTable th {
  border: none !important;
}

.selectionTable{
  width: 100%;
}
.coursName{
  min-width: 200px;
}

.tabcontent td {
  padding-left: 5px;
  padding-right: 5px;
}

.inputCom{
  min-height: inherit;
  max-height: 27px;
  resize: none;
}

.inputCom:focus{
  min-height: 100px;
  max-height: inherit;
}
/** end of CSS for tables **/

/** CSS for overlay**/

.overlay {
  color: #CCCCCC;
  height: 100%;
  width: 0;
  position: absolute; /* Stay in place */
  z-index: 2500; /* Sit on top */
  left: 0;
  margin-left: inherit;
  top: 0px;
  padding: 0 0 0 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(177, 202, 227, 0.7); /* Black w/opacity */
  overflow: hidden;
  transition: 0.5s;
}

.overlay * {
  color: black;
}

.formLayout {
  margin-left: 5%;
  margin-top: 30px;
  padding: 15px;
  border: 3px solid black;
  background-color: #F1F1F1 !important;
}

.formLayout *{
  margin-bottom: 7px;
}

.formLayout input {
  width: 245px;
}

.formLayout select {
  width: 260px;
}

.formLayout textarea {
  width: 256px;
}

.formLayout label{
  width: 140px;
  display: block;
  float: left;
}

.formButtonLayout {
  margin-left: 300px;
}

/**end of CSS for overlay **/

/**Reduce or expand menu button**/

.reduceOrExpand, .reduceOrExpand * {
  background-color: #f1f1f1;
  color: black;
  border : 1px solid #ccc;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  position: fixed;
  left: 15%;
  top: 0px;
  max-width: 25px;
  max-height: 25px;
  transition-duration: 0.3s;
}

.reduceOrExpandBut {
  border: none;
}

.reduceOrExpand[expanded="true"], .reduceOrExpand[expanded="true"] * {
  left: 0;
}

/**end of reduce or expand menu button**/

/**CSS for login**/

.loginForm div {
	margin-right: 20px;
	float: left;
}

@media screen and (max-width: 1050px) {
    .loginForm {
        display: none!important;
    }
}

@media screen and (max-width: 1350px) {
    .loginForm label {
        display: none!important;
    }
}

.loginForm {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 25px;
    top: 10px;
}

.loginForm label {
    display: block;
    width: 140px;
    padding-right: 5px;
    float: left;
    color: #F2F2F2;
}

.loginForm input , .loginForm button{
    max-width: 75px;
}


@media screen and (min-width: 1350px) {



}

/**end of CSS for login**/

/**CSS for loadOverlay**/

.bodyOverlay {

	background-color: rgba(177, 202, 227, 0.7) !important;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2500;
	width: 100%;
	height: 100%;
}

.insideOverlay {

	padding: 0;
	margin: 5px;
	min-height: 20%;
	background-color: #FFFFFFFF;
	border: 1px solid black;

}

.bodyOverlay fieldset {
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 100px;
	padding-left: 10px;
	border: 1px solid black;
	background-color: rgba(177, 202, 227, 0.95);
}

.configValidateButton {

    float: right;
	margin: 5px;
	margin-bottom: 2%;
}

.configButton {
	width: 100%;
	display: block;
	border: none;
	border-bottom: 1px solid black;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
	outline: none;
}

.configButton:hover {
	background-color: #DDDDE8;
}

.configButton[selected="selected"] {
	
    background-color: #ccc;
}

#configName {
  width: 99%;
  margin: 0;
  margin-bottom: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#roomTypeTab {
    border-style: none;
}
/**end of CSS for load overlay **/



