/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/** CSS for Menu **/
/* Style the tab */
div.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 15%;
  min-height: 400px;
  box-sizing: border-box;
}

/* Style the buttons inside the tab */
div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

div.tab button[selected] {
    background-color: #ccc;
}

/* Create an active/current "tab button" class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px;
  border: 1px solid #ccc;
  width: 85%;
  overflow-x: auto;
  box-sizing: border-box;
  border-left: none;
  min-height: 400px;
  height : auto;
  display: block;
}

/*style list without dots*/
.dotlessList {
  list-style-type:none;
}

/** CSS for Menu end **/



/** CSS for top Menu **/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the buttons inside the tab */
/** CSS for top menu end **/

.topnav md-content {
  background-color: transparent !important;
}

/*fond du menu*/
.topnav  md-tabs-wrapper{
  background-color: #555 !important;
}

/*texte du menu*/
.topnav .md-tab {
  color: #f2f2f2 !important;
  background-color: inherit !important;
  font-size: 17px;
  cursor: pointer !important;
}

/*fond du contenu*/
.topnav md-tab-content, md-tab-content-wrapper, .ng-scope, .ng-isolate-scope{
  background-color: transparent !important;
}
.topnav md-ink-bar {
  color: blue !important;
  background-color: blue !important;
  height: 4px;
}



/** CSS for tables **/

.framedTable td, .framedTable th {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.framedTable {

  margin: 25px;

}

.selectionTable{
  width: 100%;
}
.coursName{
  min-width: 200px;
}

.tabcontent td {
  padding-left: 5px;
  padding-right: 5px;
}

.inputCom{
  min-height: inherit;
  max-height: 27px;
  resize: none;
}

.inputCom:focus{
  min-height: 100px;
  max-height: inherit;
}
/** end of CSS for tables **/

/** CSS for overlay**/

.overlay {
  color: #CCCCCC;
  height: 100%;
  width: 0;
  position: absolute; /* Stay in place */
  z-index: 2500; /* Sit on top */
  left: inherit;
  top: 0px;
  padding: 0 0 0 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,60, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.formLayout {
  margin-left: 30%;
  margin-top: 30px;
  padding: 10px;
}

.formLayout *{
  margin-bottom: 7px;
}

.formLayout input {
  width: 245px;
}

.formLayout select {
  width: 260px;
}

.formLayout textarea {
  width: 256px;
}

.formLayout label{
  width: 140px;
  display: block;
  float: left;
}

.formButtonLayout {
  margin-left: 300px;
}

/**end of CSS for overlay **/

